@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,500,700') not print;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap') print;

@media not print {
    .print {
        display: none !important;
    }

    body {
        max-width: 700px;
        min-width: 500px;
        -webkit-text-size-adjust: none;
    }

    html {
        --bg-col: #EDEBEA;
        --text-col: #00000088;
        --hilite-col: #000000;
        --title-col: #000000;
        --border-col: #00000044;
        --sldshwctrl-col: #CCCCCC;
        --sldshwctrl-active-col: #888888;

        --hilite-accent-1: #000000;
        --hilite-accent-2: #000000;
        --hilite-accent-3: #000000;
        --hilite-accent-4: #000000;
        --hilite-accent-5: #000000;
    }

    html.contrastplus {
        --bg-col: #FFFFFF;
        --text-col: #000000;
        --hilite-col: #000000;
        --title-col: #000000;
        --border-col: #000000;
        --sldshwctrl-col: #CCCCCC;
        --sldshwctrl-active-col: #000000;

        --hilite-accent-1: #000000;
        --hilite-accent-2: #000000;
        --hilite-accent-3: #000000;
        --hilite-accent-4: #000000;
        --hilite-accent-5: #000000;
    }

    html.darkmode {
        --bg-col: #050711;
        --text-col: #888888;
        --hilite-col: var(--hilite-accent-4);
        --title-col: #CCCCCC;
        --border-col: #888888;
        --sldshwctrl-col: #444444;
        --sldshwctrl-active-col: #FFFFFF;

        --hilite-accent-1: rgb(182, 0, 0);
        --hilite-accent-2: rgb(0, 194, 194);
        --hilite-accent-3: rgb(0, 143, 0);
        --hilite-accent-4: rgb(235, 152, 0);
        --hilite-accent-5: rgb(164, 0, 170);
    }

    html.contrastplus.darkmode {
        --bg-col: #000000;
        --text-col: #FFFFFF;
        --hilite-col: #FFFFFF;
        --title-col: #FFFFFF;
        --border-col: #FFFFFF;
        --sldshwctrl-col: #444444;
        --sldshwctrl-active-col: #FFFFFF;

        --hilite-accent-1: red;
        --hilite-accent-2: cyan;
        --hilite-accent-3: green;
        --hilite-accent-4: orange;
        --hilite-accent-5: magenta;
    }
}

* {
    transition: background-color 0.2s ease-in-out;
}

.project:nth-of-type(5n) { --hilite-col: var(--hilite-accent-1); }
.project:nth-of-type(5n+1) { --hilite-col: var(--hilite-accent-2); }
.project:nth-of-type(5n+2) { --hilite-col: var(--hilite-accent-3); }
.project:nth-of-type(5n+3) { --hilite-col: var(--hilite-accent-4); }
.project:nth-of-type(5n+4) { --hilite-col: var(--hilite-accent-5); }

table tr:nth-of-type(5n) { --hilite-col: var(--hilite-accent-1); }
table tr:nth-of-type(5n+1) { --hilite-col: var(--hilite-accent-2); }
table tr:nth-of-type(5n+2) { --hilite-col: var(--hilite-accent-3); }
table tr:nth-of-type(5n+3) { --hilite-col: var(--hilite-accent-4); }
table tr:nth-of-type(5n+4) { --hilite-col: var(--hilite-accent-5); }

.cvcol > div:nth-of-type(5n) { --hilite-col: var(--hilite-accent-1); }
.cvcol > div:nth-of-type(5n+1) { --hilite-col: var(--hilite-accent-2); }
.cvcol > div:nth-of-type(5n+2) { --hilite-col: var(--hilite-accent-3); }
.cvcol > div:nth-of-type(5n+3) { --hilite-col: var(--hilite-accent-4); }
.cvcol > div:nth-of-type(5n+4) { --hilite-col: var(--hilite-accent-5); }

#darkmode::after {
    content: '[dark mode]';
}

.darkmode #darkmode::after {
    content: '[light mode]';
}

#inccontrast::after {
    content: '[increase contrast]';
}

.contrastplus #inccontrast::after {
    content: '[decrease contrast]';
}

.hilitecol {
    color: var(--hilite-col);
}

.darkmode .shout {
    color: var(--title-col);
}

@media print {
    .noprint {
        display: none !important;
    }
}

html {
    font-family: 'Inconsolata', monospace;
    background-color: var(--bg-col);
    color: var(--text-col);
}

@media print {
    html {
        font-family: 'Open Sans', sans-serif;
        font-size: 67%;
        background-color: #FFFFFF;
        color: #000000;
        margin-top: 16px;
    }
}

body {
    height: 100%;
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.titleline {
    position: relative;
}

#stylecontainer {
    position: absolute;
    top: 0;
    right: 0;
}

a {
    color: var(--hilite-col);
}

@media print {
    a.noprintdec {
        text-decoration: none;
    }
}

b {
    color: var(--hilite-col);
}

.titlecol {
    color: var(--title-col);
}

div {
    margin-bottom: 16px;
}

@media print {
    div {
        margin-bottom: 6px;
    }
}

sup {
    font-size: 60%;
}

@media print {
    sup {
        font-size: 40%;
    }
}

hr {
    border: 0;
    border-top: 1px solid var(--border-col);
    height: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul:not(.compressed) {
    margin-left: 12px;
}

ul:not(.compressed) > li {
    margin-left: 0px;
    padding: 0px 0px 8px 0px;
}

@media print {
    ul:not(.compressed) > li {
        padding: 0px;
    }
}

ul.compressed {
    margin: 0px;
}

ul.compressed > li {
    margin: 0px;
    padding: 0px;
}

@media print {
    hr {
        border-top: 1px solid #000000;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

hr.minus {
    width: 60px;
    margin: 40px auto 40px auto;
}

@media print {
    h1 {
        margin-top: 0px;
        margin-bottom: 12px;
    }
}

@media print {
    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }
}

.sectionheader {
    font-size: 130%;
    font-weight: bold;
    color: var(--hilite-col);
    margin-top: 32px;
    margin-bottom: 16px;
}

@media print {
    .sectionheader.withprintsub {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .sectionheader:not(.withprintsub) {
        margin-top: 0px;
        margin-bottom: 4px;
    }

    .sectionsubheader {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

.largesection {
    margin-bottom: 12px;
}

@media print {
    .largesection {
        margin-bottom: 16px;
    }
}

.cv {
    margin: 0px;
}

.cv > .cvcol {
    margin: 0px;
}

@media print {
    .cv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 24px;
    }

    .cv > .cvcol.multi {
        width: 57%;
    }

    .cv > .cvcol.single {
        width: 41%;
    }
}

.textblock {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

@media print {
    .textblock {
        text-align: justify;
    }
}

.textblock a {
    -webkit-hyphens: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

.textblock b {
    font-weight: 500;
}

@media print {
    .textblock b {
        font-weight: 600;
    }
}

.nowrap {
    display: inline-block;
    hyphens: none;
}

.slideshow {
    position: relative;
    width: 100%;
    border: 1px solid var(--border-col);
    border-radius: 12px;
    overflow: hidden;
    margin-top: 32px;
}

.slideshow > .havealook {
    padding: 16px 16px 16px 16px;
    margin: 0px;
    border-bottom: 1px solid var(--border-col);
}

.slideshow-container {
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    transition: left 0.4s ease-in-out;
}

.slideshow-container > .project {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 0px;
    overflow: auto;
    padding: 16px;
    box-sizing: border-box;
}

.slideshow-container > .project > img {
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    width: 35%;
    font-size: 175%;
}

.slideshow-container > .project > h1 {
    margin: 0px;
    font-size: 175%;
    color: var(--hilite-col);
}

.slideshow-container > .project > .tagline {
    margin: 0px;
}

.slideshow-cntrl-button {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.slideshow-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 48px;
}

.slideshow-controls > label {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: var(--sldshwctrl-col);
    transition: background-color 0.2s ease-in-out;
}

/* stop judging my CSS :) */
#sldshw1:checked ~ .slideshow-controls > label:nth-child(1) { background-color: var(--sldshwctrl-active-col); }
#sldshw2:checked ~ .slideshow-controls > label:nth-child(2) { background-color: var(--sldshwctrl-active-col); }
#sldshw3:checked ~ .slideshow-controls > label:nth-child(3) { background-color: var(--sldshwctrl-active-col); }
#sldshw4:checked ~ .slideshow-controls > label:nth-child(4) { background-color: var(--sldshwctrl-active-col); }
#sldshw5:checked ~ .slideshow-controls > label:nth-child(5) { background-color: var(--sldshwctrl-active-col); }
#sldshw6:checked ~ .slideshow-controls > label:nth-child(6) { background-color: var(--sldshwctrl-active-col); }
#sldshw7:checked ~ .slideshow-controls > label:nth-child(7) { background-color: var(--sldshwctrl-active-col); }
#sldshw8:checked ~ .slideshow-controls > label:nth-child(8) { background-color: var(--sldshwctrl-active-col); }
#sldshw9:checked ~ .slideshow-controls > label:nth-child(9) { background-color: var(--sldshwctrl-active-col); }
#sldshw10:checked ~ .slideshow-controls > label:nth-child(10) { background-color: var(--sldshwctrl-active-col); }
#sldshw11:checked ~ .slideshow-controls > label:nth-child(11) { background-color: var(--sldshwctrl-active-col); }
#sldshw12:checked ~ .slideshow-controls > label:nth-child(12) { background-color: var(--sldshwctrl-active-col); }
#sldshw13:checked ~ .slideshow-controls > label:nth-child(13) { background-color: var(--sldshwctrl-active-col); }
#sldshw14:checked ~ .slideshow-controls > label:nth-child(14) { background-color: var(--sldshwctrl-active-col); }
#sldshw15:checked ~ .slideshow-controls > label:nth-child(15) { background-color: var(--sldshwctrl-active-col); }
#sldshw16:checked ~ .slideshow-controls > label:nth-child(16) { background-color: var(--sldshwctrl-active-col); }
#sldshw17:checked ~ .slideshow-controls > label:nth-child(17) { background-color: var(--sldshwctrl-active-col); }
#sldshw18:checked ~ .slideshow-controls > label:nth-child(18) { background-color: var(--sldshwctrl-active-col); }
#sldshw19:checked ~ .slideshow-controls > label:nth-child(19) { background-color: var(--sldshwctrl-active-col); }
#sldshw20:checked ~ .slideshow-controls > label:nth-child(20) { background-color: var(--sldshwctrl-active-col); }

#sldshw1:checked ~ .slideshow > .slideshow-container { left: -0%; }
#sldshw2:checked ~ .slideshow > .slideshow-container { left: -100%; }
#sldshw3:checked ~ .slideshow > .slideshow-container { left: -200%; }
#sldshw4:checked ~ .slideshow > .slideshow-container { left: -300%; }
#sldshw5:checked ~ .slideshow > .slideshow-container { left: -400%; }
#sldshw6:checked ~ .slideshow > .slideshow-container { left: -500%; }
#sldshw7:checked ~ .slideshow > .slideshow-container { left: -600%; }
#sldshw8:checked ~ .slideshow > .slideshow-container { left: -700%; }
#sldshw9:checked ~ .slideshow > .slideshow-container { left: -800%; }
#sldshw10:checked ~ .slideshow > .slideshow-container { left: -900%; }
#sldshw11:checked ~ .slideshow > .slideshow-container { left: -1000%; }
#sldshw12:checked ~ .slideshow > .slideshow-container { left: -1100%; }
#sldshw13:checked ~ .slideshow > .slideshow-container { left: -1200%; }
#sldshw14:checked ~ .slideshow > .slideshow-container { left: -1300%; }
#sldshw15:checked ~ .slideshow > .slideshow-container { left: -1400%; }
#sldshw16:checked ~ .slideshow > .slideshow-container { left: -1500%; }
#sldshw17:checked ~ .slideshow > .slideshow-container { left: -1600%; }
#sldshw18:checked ~ .slideshow > .slideshow-container { left: -1700%; }
#sldshw19:checked ~ .slideshow > .slideshow-container { left: -1800%; }
#sldshw20:checked ~ .slideshow > .slideshow-container { left: -1900%; }

.tbtitle {
    color: var(--title-col);
    font-size: 115%;
}

table {
    width: 100%;
    table-layout: fixed;
}

@media print {
    table {
        border-spacing: 6px 8px;
    }
}

table tr > td {
    vertical-align: top;
}

@media print {
    table tr > td {
        page-break-inside: avoid;
        padding: 0px;
    }
}

table tr > td:first-of-type {
    text-align: right;
    font-weight: bold;
    width: 25%;
    padding-right: 20px;
}

table tr > td:first-of-type i {
    font-weight: normal;
}

@media print {
    .cvcol.multi table tr > td:first-of-type {
        width: 63px;
        font-size: 55%;
        padding-right: 6px;
        color: #CCCCCC;
    }

    .cvcol.single table tr > td:first-of-type {
        display: none;
    }
}

