@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700') not print;
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i') only print;

@media not print {
    .print {
        display: none !important;
    }
}

@media print {
    .noprint {
        display: none !important;
    }
}


html {
    font-family: 'Inconsolata', monospace;
    background-color: #BDBBBA;
    color: #00000088;
    padding-left: 20px;
    padding-right: 20px;
}

@media print {
    html {
        font-family: 'Roboto', sans-serif;
    }
}

a {
    color: inherit;
}

html.contrastplus {
    background-color: #FFFFFF;
    color: #000000;
}

b {
    color: #000000;
}

@media print {
    html {
        background-color: #FFFFFF;
        color: #000000;
    }
}

body {
    max-width: 600px;
    min-width: 300px;
    height: 100%;
    margin: 0px auto;
}

.nowrap {
    white-space: nowrap;
}

.linkcontainer {
    display: grid;
    width: 100%;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-gap: 10%;
    grid-template-columns: 1fr 1fr 1fr;
}

.linkcontainer > a > img {
    width: 100%;
    opacity: 0.6;
    mix-blend-mode: multiply;
    border: 1px solid #00000099;
    border-radius: 5px;
}

.contrastplus .linkcontainer > a > img {
    border-color: #000000;
}

.linkcontainer > a:hover > img {
    opacity: 0.9;
    border: 1px solid #000000;
}