@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700') not print;

@media not print {
    .print {
        display: none !important;
    }

    body {
        max-width: 600px;
        min-width: 300px;
    }
}

@media print {
    .noprint {
        display: none !important;
    }
}

body {
    height: 100%;
    margin: 0px auto;
}

html {
    font-family: 'Inconsolata', monospace;
    background-color: #CDCBCA;
    color: #00000088;
    padding-left: 20px;
    padding-right: 20px;
}

@media print {
    html {
        font-family: 'Neue Helvetica', 'Helvetica Neue', 'Helvetica', sans-serif;
        font-size: 80%;
        background-color: #FFFFFF;
        color: #000000;
    }
}

html.contrastplus {
    background-color: #FFFFFF;
    color: #000000;
}

a {
    color: #000000;
}

@media print {
    a.noprintdec {
        text-decoration: none;
    }
}

b {
    color: #000000;
}

sup {
    font-size: 60%;
}

hr {
    border: 0;
    border-top: 1px solid #00000044;
    height: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contrastplus hr {
    border-top: 1px solid #000000;
}

@media print {
    hr {
        border-top: 1px solid #000000;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

hr.minus {
    width: 60px;
    margin: 40px auto 40px auto;
}

@media print {
    h1 {
        margin-bottom: 0px;
    }
}

h3 {
    color: #000000;
}

@media print {
    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }
}

ul, ol {
    margin: 0px;
    padding-left: 20px;
}

li {
    margin: 0px;
}

.nowrap {
    display: inline-block;
}

.linkcontainer {
    display: grid;
    width: 100%;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-gap: 10%;
    grid-template-columns: 1fr 1fr 1fr;
}

.linkcontainer > a > img {
    width: 100%;
    opacity: 0.6;
    mix-blend-mode: multiply;
    border: 1px solid #00000099;
    border-radius: 5px;
}

.contrastplus .linkcontainer > a > img {
    border-color: #000000;
}

.linkcontainer > a:hover > img {
    opacity: 0.9;
    border: 1px solid #000000;
}

table {
    width: 100%;
    table-layout: fixed;
}

@media print {
    table tr > td {
        page-break-inside: avoid;
    }
}

table tr > td {
    vertical-align: top;
}

table tr > td:first-of-type {
    text-align: right;
    font-weight: bold;
    width: 30%;
    padding-right: 20px;
}

@media print {
    table tr > td:first-of-type {
        color: #CCCCCC;
    }
}

